In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("example.csv",index_col=0)

In [3]:
df

     b   c   d
a
0    1   2   3
4    5   6   7
8    9  10  11
12  13  14  15

In [4]:
df = pd.read_csv('example.csv')

In [5]:
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [6]:
df.to_csv('new_file.csv',index = False)

In [ ]:
tab