In [1]:
mystring = 'hello'

In [2]:
mystring.capitalize()

'Hello'

In [3]:
mystring.isdigit()

False

In [4]:
import pandas as pd

In [5]:
names = pd.Series(['andrew','bobo','claire','david','4'])

In [6]:
names

0    andrew
1      bobo
2    claire
3     david
4         4
dtype: object

In [7]:
names.str.capitalize()

0    Andrew
1      Bobo
2    Claire
3     David
4         4
dtype: object

In [8]:
names.str.isdigit()

0    False
1    False
2    False
3    False
4     True
dtype: bool

In [9]:
tech_finance = ['GOOG,APPL,AMZN','JPM,BAC,GS']

In [10]:
tech_finance

['GOOG,APPL,AMZN', 'JPM,BAC,GS']

In [11]:
len(tech_finance)

2

In [12]:
tickers = pd.Series(tech_finance)

In [13]:
tickers

0    GOOG,APPL,AMZN
1        JPM,BAC,GS
dtype: object

In [14]:
tickers.str.split(",")

0    [GOOG, APPL, AMZN]
1        [JPM, BAC, GS]
dtype: object

In [15]:
tickers.str.split(",").str[0]

0    GOOG
1     JPM
dtype: object

In [18]:
tickers.str.split(",",expand = True)

      0     1     2
0  GOOG  APPL  AMZN
1   JPM   BAC    GS

In [19]:
messy_name = pd.Series(["andrew  ","bo;bb","  claire  "])

In [20]:
messy_name

0      andrew
1         bo;bb
2      claire
dtype: object

In [22]:
messy_name.str.strip().str.replace(";","").str.capitalize()

0    Andrew
1      Bobb
2    Claire
dtype: object